/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Rules */

li {
    display: inline-block;
    padding: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}


/* Header */

header {
    color: white;
    background-color: rgb(255, 105, 0);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav {
    align-items: center;
    height: 80px;
    font-size: 20px;
}

.navbar>* {
    flex-basis: 20%;
}

.navbar-logo {
    height: 40px;
    flex-grow: 1;
    text-align: center;
}

.logo {
    height: 40px;
}

.navbar-login {
    text-align: right;
}

/* Card Section */

.card {
    background-color: red;
    height: 800px;
    width: 380px;
    margin: 10px;
}

.card-container {
    max-width: 1200px;
    max-height: 2000px;
    margin: 0 auto;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}